<body>
  <div class="container_with_sidenav">
    <div class="block_title">Список пользователей</div>

    <div class="filter-section">
      <label for="filter-type">Фильтровать по:</label>
      <select id="filter-type" [(ngModel)]="filterType">
        <option value="class">Классу</option>
        <option value="name">Имени</option>
      </select>

      <label for="filter-value">Значение:</label>
      <input type="text" id="filter-value" [(ngModel)]="filterValue" />

      <button
        class="filter-btn"
        [disabled]="!filterType || !filterValue"
        (click)="onFilter()"
      >
        Фильтровать
      </button>
      <button
        class="clear-filter-btn"
        [disabled]="!filterType || !filterValue"
        (click)="clearFilter()"
      >
        Очистить фильтр
      </button>
    </div>

    <table class="user-table">
      <thead>
        <tr>
          <th>Фото</th>
          <th>ФИО</th>
          <th>Email</th>
          <th>Класс</th>
        </tr>
      </thead>
      <tbody>
        <ng-container
          *ngIf="filteredUsers && filteredUsers.length > 0; else nousersFound"
        >
          <tr *ngFor="let user of filteredUsers">
            <td class="user-item-img">
              <img [src]="user.image" alt="userImg" />
            </td>
            <td>{{ user.fio }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.classA }}</td>

            <td>
              <button class="button" (click)="onEdit(user)">
                Редактировать
              </button>
            </td>
            <td>
              <button class="button_del" (click)="confirmAction(user['_id'])">
                Удалить
              </button>
            </td>
            <td>
              <button class="button_call">
                <a href="mailto:{{ user.email }}"
                  ><span class="text"> Связаться с читателем</span></a
                >
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-template #nousersFound>
          <tr>
            <td colspan="5" class="no-users-found">Пользователи не найдены</td>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>
</body>
